/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article, span, table,
 h1, h2, p, strong, em, a, div, ul, li {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   font-family: 'Arimo', sans-serif;
   cursor: default;
 }

body {
  background-color: #dfecfa;
  margin-top: 65px;
}

ul {
  list-style: none;
}

button, input {
  cursor: pointer;
}


.home {
  padding: 0;
  margin: auto;
  width: 500px;
  min-height: 600px;
  background-image: url('small_logo.png');
  background-size: contain;
}

.menu-bar {
  background-color: #958568;
  list-style-type: none;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}

.menu-bar-item {
  margin: 10px;
  background-color: #cfd773;
  float: right;
  display:inline;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}

img.logo {
  height: 47px;
}

img.github-logo {
  width: 15px;
  height: 10px;
}

img.linkedin-logo {
  width: 15px;
  height: 15px;
}

.menu-bar-item:hover{
  background-color: #6b6a43;
  color: gainsboro;
}

.page-content{
  position: relative;
  padding-top: 30px;
  margin: 0 auto;
  width: 900px;
}

.info-box {
  border: 1px solid grey;
  background-color: #958568;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}

.info-box-title{
  font-size: 18px;
}

.info-box-item {
  padding: 2px;
}

.page-form-container {
  margin: auto;
  background-color: rgba(222,222,222, .9);
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  height: 300px;

}

.user-form-input{
  height: 20px;
  border-radius: 6px;
}

.sign-button {
  margin: 0 auto;
  width: 100px;
  background-color: #cfd773;
  border-radius: 4px;
  text-align: center;
  padding: 3px;
  font-weight: bold;
  letter-spacing: .1em;
}

.sign-button.guest{
}

.sign-button:hover {
  background-color: #72bcd4;
}

.signon-link:hover {
  background: lightgrey;
}

.player-select {
  font-size: 18px;
  height: 2em;
  width: 30%;
}

.invis {
  display: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
