/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article, span, table,
 h1, h2, p, strong, em, a, div, ul, li {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   font-family: 'Arimo', sans-serif;
   cursor: inherit;
 }

body {
  background-color: #dfecfa;
  margin-top: 65px;
}

ul {
  list-style: none;
}

button, input, a {
  cursor: pointer;
}

.splash {
  margin: 0 ;
  height: 662px;
  font-size: 20px;
  background-color: rgba(172,206,242,.6);
  border-radius: 14px;
  -webkit-box-shadow: inset 0px 10px 55px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 10px 55px -15px rgba(0,0,0,0.75);
  box-shadow: inset 0px 10px 55px -15px rgba(0,0,0,0.75);
}

.splash-title {
  font-size: 24px;
}

.splash-text {
  font-size: 18px;
  margin: 10px 60px;
}

.entry-link:hover {
  background-color:
}

.home {
  padding: 0;
  margin: auto;
  width: 500px;
  min-height: 600px;
  background-image: url('small_logo.png');
  background-size: contain;
}

.menu-bar {
  background-color: #958568;
  list-style-type: none;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}

.menu-bar-item {
  margin: 10px;
  background-color: #cfd773;
  float: right;
  display:inline;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}

img.logo {
  height: 47px;
}



.menu-bar-item:hover{
  background-color: #6b6a43;
  color: gainsboro;
}

.page-content{
  position: relative;
  padding-top: 30px;
  margin: 0 auto;
  width: 900px;
}

.info-box {
  border: 1px solid grey;
  background-color: #958568;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}

.info-box-mat {
  background-color: rgba(222,222,222,.9);
  height: 200px;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
}

.info-box-url{
  font-size: 18px;
  padding: 5px;
  margin: 10px, auto;
  border-radius: 6px;
}

.info-box-url:hover {

}

.info-box-item {
  font-size: 16px;
  text-align: center;
}

.personal-link {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.personal-link:hover {
  background-color: rgba(114, 188, 212, .5);
}

.personal-logo {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  display: block;
}

.personal-logo > img {
  width: 100%;
  height: 100%;
}

a.github-logo {
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px 18px;
  border-radius: 100px;
}

.github-black {
  width: 100%;
  height: 100%;
}

.github-inverse {
  width: 100%;
  height: 100%;
  display: none;
}

a.github-logo:hover .github-black{
  display: none;
}

a.github-logo:hover .github-inverse{
  display: block;
}

a.linkedin-logo {
  width: 30px;
  height: 30px;
  float: right;
  margin: 5px 18px;
}

.linkedin-black {
  width: 100%;
  height: 100%;
}

.linkedin-inverse {
  width: 100%;
  height: 100%;
  display: none;
}

a.linkedin-logo:hover .linkedin-black {
  display: none;
}

a.linkedin-logo:hover .linkedin-inverse {
  display: block;
}




.invis {
  display: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
