/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article, span,
 h1, h2, p, strong, em, a, div, ul, li {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   font-family: sans-serif;
 }

body {
  background-color: gainsboro;
  margin-top: 65px;
}

ul {
  list-style: none;
}

.home {
  padding: 10px;
  margin: auto;
  width: 520px;
}

.menu-bar {
  background-color: lightgrey;
  list-style-type: none;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.menu-bar-item {
  margin: 10px;
  float: right;
  display:inline;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}

.menu-bar-item:hover{
  background-color: darkgray;
}

.page-content{
  position: relative;
  margin: 0 auto;
  width: 900px;
}

.info-box {
  border: 1px solid lightgrey;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 150px;
  height: 150px;
}

.info-box-title{
  font-size: 18px;
}

.info-box-item {

}

.signon-link:hover {
  background: lightgrey;
}

.player-select {
  font-size: 18px;
  height: 2em;
  width: 30%;
}

.invis {
  display: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
