.tabs-header-container{
  text-align: center;
}

.tab-header {
  font-size: 18px;
  background-color: gainsboro;
  padding: 11px;
  margin: 5px;
  border: 1px solid darkgrey;
  border-top: 3px solid darkgrey;
  box-sizing: border-box;
  z-index: 1;
  cursor: pointer;
}

.tab-header > span {
  cursor: pointer;
}

.tab-header:hover {
  background-color: rgba(114, 188, 212, .5);
}

.tab-header.active {
  border-top-color: #72bcd4;
  border-bottom: 1px solid rgba(248, 248, 255, .7);
  background-color: rgba(248, 248, 255, .7);
}

.page-container {
  border: 1px solid darkgrey;
  background-color: rgba(248, 248, 255, .7);
  padding: 10px;
  min-height: 600px;
  text-align: center;
  margin-top: 10px;
  -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}

.game-index-container {
  padding: 3px;
  border-spacing: 5px;
  background-color: rgba(255,255,255,.8);
  border-collapse: collapse;
  width: 100%;
}

.game-item-box {
  padding: 10px;
  width: 100%;
  border: 1px solid lightgrey;
  cursor: pointer;

}

.game-item-box:hover {
  background-color: #6b6a43;
  color: gainsboro;
}

.game-item-box.your-turn:hover {
  background: #72bcd4;
  color: black;
}

.game-summary {
  float: left;
}

.game-table {
  height: 20px;
}

.game-table.header {
  border: 1px solid lightgrey;
  text-align: center;
  padding: 5px;
  width: 100%;
}

.game-table.header-item {
  padding: 5px;
  text-align: center;
}

.game-info-item {
  padding: 3px;
  display: table-cell;
  text-align: center;
}
