


.game-menu {
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
}

.mark-selector {
  width: 40px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

.game-button {
  margin: 0 auto;
  width: 100%;
  background-color: #cfd773;
  border-radius: 4px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  letter-spacing: .1em;
}

.game-button:hover {
  background-color: gray;
}

.game-button.submit {
  margin: 0 auto;
  width: 30%;
}

.game-button.submit:hover {
  background-color: #72bcd4;
}

.game-button.create {
  margin: 5px auto;
  font-size: 12px;
}

.game-button.create:hover {
  background-color: #72bcd4;
}

.game-container {
  border: 2px solid black;
  width: 450px;
  height: 450px;
  margin: auto;
  -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}


.game-cell {
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
  background: silver;
  width: 150px;
  height: 150px;
  color: goldenrod;
  font-size: 38px;
  text-align: center;
  line-height: 150px
}

.game-cell.closed {
  background: repeating-linear-gradient(
    45deg,
    darkgrey,
    darkgrey 10px,
    lightgrey 10px,
    lightgrey 20px
    );
  }

.game-cell.filled{
  background-color: grey;
}

.game-cell.avail:hover {
  background-color: wheat;
}

.game-cell.selected {
  background-color: #6b6a43;
}

.game-cell.selected.avail:hover {
  background-color: #4c3f33;
}

.game-header-message {
  font-size: 24px;
  font-weight: bold;
  width: 450px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  margin: auto;
}

.game-message-primary {

}

.game-message-secondary {

}

.game-tail-message {
  width: 450px;
  height: 50px;
  text-align: center;
  margin: 5% auto;

}
