


.game-menu {
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  /*border: 1px solid grey;*/
}

.game-button {
  margin: 0 auto;
  width: 100%;
  background-color: silver;
  border-radius: 4px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  letter-spacing: .1em;
}

.game-button:hover {
  background-color: gray;
  color: lightgrey;
}

.game-button.submit {
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}

.game-button.submit:hover {
  background-color: orange;
}

.game-button.create {
  margin: 5px auto;
  font-size: 12px;
}

.game-button.create:hover {
  background-color: orange;
}

.game-container {
  border: 2px solid black;
  width: 450px;
  height: 450px;
  margin: auto;
}


.game-cell {
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
  background: wheat;
  width: 150px;
  height: 150px;
  color: goldenrod;
  font-size: 38px;
  text-align: center;
  line-height: 150px
}

.game-cell.closed {
  background: repeating-linear-gradient(
    45deg,
    darkgrey,
    darkgrey 10px,
    lightgrey 10px,
    lightgrey 20px
    );
  }

.game-cell.filled{
  background-color: grey;
}

.game-cell.avail:hover {
  background-color: grey;
}

.game-cell.selected {
  background-color: orange;
}

.game-cell.selected.avail:hover {
  background-color: saddlebrown;
}

.game-header-message {
  font-size: 24px;
  font-weight: bold;
  width: 450px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  margin: auto;
}

.game-message-primary {

}

.game-message-secondary {

}

.game-tail-message {
  width: 450px;
  height: 50px;
  text-align: center;
  margin: 5% auto;

}
